<section class="section gallery-section">
  <div class="container gallery-container">
    <h2 class="gallery-title">Title</h2>
    <p class="gallery-text">Text</p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img src="./src/img/gallery-images/eco-on-chair.jpg" alt="eco on chair">
      </li>
      <li class="gallery-item">
        <img src="./src/img/gallery-images/stylish-man-walking.jpg" alt="stylish man walking">
      </li>
      <li class="gallery-item">
        <img src="./src/img/gallery-images/woman-in-park.jpg" alt="woman in park">
      </li>
      <li class="gallery-item">
        <img src="./src/img/gallery-images/woman-with-products.jpg" alt="woman with products">
      </li>
    </ul>
  </div>
</section>