.page-support {
    font-family: Fira Sans;
    line-height: 1.6;
    color: #030A06;
    font-weight: 400;
    font-size: 16px;
}

.support-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EBF8ED;
    padding: 32px 16px;
    gap: 24px;
}

.support-form-div {
    width: 100%;
}

.support-header {
    font-family: "Comfortaa", sans-serif;   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 24px;
}

.support-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.support-subheader {
    font-size: 18px;
    margin-bottom: 32px;
    font-weight: 400;
}

.support-input-label {
    margin-bottom: 8px;
    display: block;
}

.support-input {
    width: 100%;
    height: 42px;
    border: 1px solid rgba(3, 10, 6, 0.15);
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 16px;
    background-color: rgba(3, 10, 6, 0.05);
    outline: none;
    transition: border 250ms cubic-bezier(0.4,0,0.2,1);
}

.massage-textarea {
    width: 100%;
    height: 180px;
    border: 1px solid rgba(3, 10, 6, 0.15);
    background-color: rgba(3, 10, 6, 0.05);
    border-radius: 6px;
    padding: 8px 12px;
    resize: none;
    outline: none;
}

.error-message {
    font-size: 12px;
    color: #D64040;
    margin-top: 4px;
    display: none;
}

.error-message.active {
    display: block;
}

.support-input.error {
    border-color: #D64040;
    color: #D64040;
}

.massage-textarea::placeholder,
.support-input::placeholder {
    color:rgba(3, 10, 6, 0.6);
}

.massage-textarea:focus::placeholder,
.support-input:focus::placeholder {
  color: transparent;
}

.support-submit-btn {
    background-color: #030A06;
    border: none;
    color: white;
    border-radius: 6px;
    width: 100%;
    height: 50px;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.support-submit-btn:hover,
.support-submit-btn:focus {
    background-color: rgba(3, 10, 6, 0.5);
}

.support-submit-btn:active {
    background-color: #113916;
}

.support-submit-btn:disabled {
    background-color: rgba(3, 10, 6, 0.2);
}

.support-img {
    width: 100%;
    height: 428px;
    border-radius: 40px;
    background-image: url("../img/section-support-img/support-img-1x.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
  .support-img{ 
    background-image:
        url("../img/section-support-img/support-img-2x.jpg");
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
    .support-container {
        padding: 64px 32px;
    }

    .massage-textarea {
        padding: 12px 12px;
    }

    .support-submit-btn {
        width: 249px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .support-img{ 
        background-image:
            url("../img/section-support-img/support-img-tablet-1x.jpg");
    }

    @media screen and (min-resolution: 192dpi) {
        .support-img{ 
            background-image:
                url("../img/section-support-img/support-img-tablet-2x.jpg");
        }
    }
}

@media screen and (min-width: 1440px) {
    .support-container {
        padding: 64px 64px;
    }

    .support-header {
        font-size: 48px;
    }

    .support-submit-btn {
        width: 198px;
    }

    .support-img {
        height: 767px;
    }

    .support-div {
        width: calc((100% - 24px) / 2);
    }
}